h2{
    
}
h1{
   
    text-align: center;
  font-size: 60px;
background-color:cornflowerblue;
}
i{
    float:right;
    position: relative;
    margin-left: 1%;
}
i1{
    float:left;
    position: relative;
    margin-left: 1%;
        }
.crypto1{
    background-color:blue;
}
.green{
    color: green;
}
.bo{
    color: cornflowerblue;
    -webkit-text-stroke-width: .4px;
  -webkit-text-stroke-color: black;
  text-decoration: underline;
text-decoration-color: rgb(56, 56, 56);
}
.green{
color: green;
}
.blue{
color: rgb(10, 90, 239);
}
.blue{
    color: blue;
}
.heading{
    font-size: 150%;
        padding: 5px;
        margin-left:0%;
        display: block;
        justify-content: center;
}
